
body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#divzy{margin-left: 330px;
      margin-top: 100px;
 }

#divjj{
	text-align: right;
    margin-right: 50px;
    margin-bottom:200px; 
}

#divleft{
	float: left;
}

#divright{
	width: 500px;
	padding-left: 500px;
}

#div1{
	line-height:100%; margin:10px; padding:10px; 
    background:white; border-bottom:1px solid #A2B3CD;
    color: #787878;
}

#div2{
	line-height:100%; margin:10px; padding:10px; 
    background:white; border-bottom:1px solid #A2B3CD;
    color: #787878;
}

#div3{
	line-height:100%; margin:10px; padding:10px; 
    background:white; border-bottom:1px solid #A2B3CD;
    color: #787878;
}

#div4{
	line-height:100%; margin:10px; padding:10px; 
    background:white; border-bottom:1px solid#A2B3CD;
    color: #787878;
}

#div5{
	line-height:100%; margin:10px; padding:10px; 
    background:white; border-bottom:1px solid#A2B3CD;
    color: #787878;
}

h5{
	font-size: 15px;
 }

h4{
	padding-top: 10px;
}

pre{
	padding-left: 10px;
	padding-bottom: 10px;
}

ol li{
     padding-bottom: 10px;
}

#divjob{
	margin-left: -10px;
	color: #787878;
}
 
